:root {
    --primary-color: #f7f7f7;
    --secondary-color: #0F0F0B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: var(--primary-color);
    font: bold 2rem 'open Sans', 'sans-serif';
}

.todo {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.titulo {
    font-size: 16px;
}

.todo_title {
    font-family: sans-serif;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(142, 130, 1);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    box-shadow: 1px 1px 5px var(--secondary-color);
    font-size: 2rem;
    color: var(--primary-color);
}

.todo_list {
    display: flex;
    width: 100%;
    gap: 10px;
    height: 60px;
    justify-content: space-between;
    padding: 50px;
}

.todo_item {
    font-family: sans-serif;
    font-weight: 200;
    color: gray;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 1px 1px 5px var(--secondary-color);
}

.todo_item > div {
    width: 80%;
}

.todo_item:hover{
    background-color: rgb(143, 133, 0);
    color: white;
    cursor: pointer;
    transition: all .5s ease;
     
}

.todo_item > input [type = 'text'] {
    border: none;
    width: 80%;
    font: inherit;
}

.todo_item > input [type = 'checkbox'] :checked + div {
    text-decoration:line-through;
}

.todo_new-item {
    font-size: 12px;
    display: flex;
    background-color: #fcfbee;
    width: 80%;
    height: 50px;
    justify-content: space-evenly;
    padding: 10px 0;
    box-shadow: 1px 1px 5px var(--secondary-color);
    margin: -3px;
    margin-top: 15px;
    font: inherit;
}

.todo_new-item > input {
    background-color: #FFF59d;
    border: none;
    width: 80%;
    outline: none;
    padding: 5px;
    
}

.todo_new-item > input::placeholder {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.botao {
    color: rgb(244, 251, 251);
    width: 8%;
    background-color: red;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
    cursor: pointer;
}

