
* {
    padding: 0;
    margin: 0;
}

body {    
    font-family: sans-serif;
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 50, 89);       
}

.content {
    width: 300px;
    height: 450px;
    padding: 20px;
    background: rgb(0, 29, 91);
    border-radius: 8px;
}

.content input {
    height: 15px;
    border: 1.5px rgb(184, 184, 184) solid;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px;
    margin-left: 70px;    
}

.content button {
    width: 100px;  
    margin-left: 95px;
    margin-top: 15px;
    font-size: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(2, 159, 170, 0.763);
    color: white;
}

.content button:hover {
    background-color: rgb(5, 146, 5);
    height: 30px;
}

.content p {
    text-align: center;    
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.content img {
    width: 100px;
    height: 50px;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}